#Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
# python interpreter is stateful: variables stay in memory
x

1

In [4]:
# define a function
def add_numbers(x, y):
    return x + y
print(add_numbers(1, 2))

3

In [6]:
# add default value, always at the end
def add_numbers(x ,y, z=None):
    if (z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1 , 2))
print(add_numbers(1 , 2, 3))

3
6

In [8]:
# we can assign a function to a variable
a = add_numbers
a(1, 2)

3

In [11]:
def do_math(a, b, kind = 'add'):
    if (kind == 'add'):
        return a + b
    else:
        return a - b

do_math(1, 2)

3

#Types and Sequences

In [1]:
# the type function returns the type of a variable
type("string")

str

In [2]:
type(None)

NoneType

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [7]:
type(add_numbers)

function

In [8]:
# define a tuple. Values cannot be modified
x=(1, 'a', 2, 'b')
type(x)

tuple

In [18]:
# defie a list. Elements can be added, removed, changed
x=[1, 'a', 2, 'b']
type(x)

list

In [19]:
x.append(3.3)
for item in x:
    print(item)

1
a
2
b
3.3

In [21]:
i = 0
while (i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [25]:
# + concatenates 2 lists
# in looks up a value in a list
3 in ([1, 2] + [3, 4])

True

In [43]:
# lists can be sliced. Note: strings are just lists of characters
x = "This is a string"
print(x[0:4])
print(x[-11:-6])
print(x[-6:])

This
is a
string

In [49]:
x = 'Dr. Christopher Brooks'
x[4:15]

'Christopher'

In [4]:
firstname='Christopher'
lastname='Brooks'
print(firstname + ' ' + lastname)
print(3* firstname) # repeat the elements
print('Chris' in firstname)
print((firstname + ' ' + lastname).split(' ')[0]) # split

Christopher Brooks
ChristopherChristopherChristopher
True

In [22]:
# dictionary
x={"key1":"value1", "key2":"value2"}
x["key3"] = None
print(x)
for item in x:
    print(item + ' - ' + str(x[item]))
print(x.values())

{'key1': 'value1', 'key2': 'value2', 'key3': None}
key1 - value1
key2 - value2
key3 - None
dict_values(['value1', 'value2', None])

In [23]:
# iterate through both keys and values using the items() function
for k,v in x.items():
    print(k + ' - ' + str(v))

key1 - value1
key2 - value2
key3 - None

In [29]:
# unpacking
x1, x2 = [1, 2]
print(x1)

1

#More on Strings

In [1]:
sales_record = {'price': 3.24, 'num_items': 4}
s = '{} items bought at {}'
print(s.format(sales_record['num_items'], sales_record['price']))

4 items bought at 3.24

#Reading and Writing csv files

In [7]:
import csv
import os

%precision 2

with open(os.path.dirname(os.path.realpath('__file__')) + '\Introduction to Data Science in Python\week1\mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:1] # The first dictionary in our list.

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [17]:
# mpg is a list of dictionaries
print(len(mpg))
print(mpg[0].keys())
print(mpg[0]['year'])

234
odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])
1999

In [19]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [34]:
# find the average cty by cylinders category
cylinders = set(d['cyl'] for d in mpg)  # create a set of unique cylinder values 
CtyMpgByCyl = []
for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if(d['cyl']==c):
            summpg += float(d['cty'])
            cyltypecount = cyltypecount + 1
    CtyMpgByCyl.append((c, summpg/cyltypecount))
    CtyMpgByCyl.sort(key=lambda x: x[0]) # sort by descending values. Replace by x[1] for ascending sort 
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

# Python dates and times

In [38]:
import datetime as dt
import time as tm

# get current time since the epoch: January 1st 1970
print(tm.time())

dtnow = dt.datetime.fromtimestamp(tm.time())
print(dtnow)
dtnow

1500341554.3436482
2017-07-17 21:32:34.343648

datetime.datetime(2017, 7, 17, 21, 32, 34, 343648)

In [39]:
dtnow.year, dtnow.month, dtnow.day

(2017, 7, 17)

In [41]:
delta = dt.timedelta(days=100)
delta

datetime.timedelta(100)

In [42]:
today = dt.date.today()
today - delta

datetime.date(2017, 4, 8)

#Advanced Python Objects, map()

In [43]:
class Person:
    department = 'School of Information'    # default
    def set_name(self,new_name):
        self.name=new_name
    def set_location(self, new_location):
        self.location=new_location

In [48]:
c = Person()
c.set_name('Tom')
print(c.name + ', ' + c.department)

Tom, School of Information

In [56]:
# the map function map(f, i) applies a function i to an iterable i
def square(x):
    return x*x
print(map(square,[1,2]))
# lazy evaluation. Does not perform the calculation until we specifically ask for a value
# allows more efficient memory management

<map object at 0x00000255F4A00B38>

In [64]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    v = person.split(' ')
    return v[0] + ' ' + v[-1]

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

#Lambdas and list comprehensions

In [81]:
# lambdas are short lived functions that have no name
my_function = lambda a, b, c: a + b
my_function(1, 2, 4)

3

In [89]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
  print(split_title_and_name(person) == (lambda x:x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person:person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [93]:
# list comprehensions
my_list = [n for n in range(0,10) if n%2==0]
my_list

[0, 2, 4, 6, 8]

In [94]:
[i*j for i,j in range(10,10)]

[]

In [95]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [100]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'
# return all posiible combinations as a list comprehension
print(len([s + t + i + j for s in lowercase for t in lowercase for i in digits for j in digits]))

67600